/* Override some styles from the regular jPlayer skin. */
.jp-audio {
  margin: 10px auto;
}
/* Rely on :first-child rather a class like jp-playlist-last. That will eventually make playlist drag&drop easier. */
div.jp-type-playlist div.jp-playlist li {
  border-top: 1px solid #eee;
  border-bottom: none;
  padding: 4px 20px 5px 20px;
}
div.jp-type-playlist div.jp-playlist li:first-child {
  border-top: none;
}

/* Pop-Up Player-specific styles */
body#pup-player {
  background: none;
}
.jp-playlist li {
  position: relative;
}
.pup-track-remove {
  position: absolute;
  right: 0;
}
.pup-playlist-empty {
  display: none; /* Displayed dynamically when appropriate. */
  font-size: 0.9em; /* Matches Blue Monday skin. */
  padding: 10px;
}
